*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  margin-top: 15rem;
  color: greenyellow;
}
#form {
  text-align: center;
}
#destination {
  height: 2rem;
  border: 2px groove maroon;
  border-radius: 1.5rem;
}
.submit {
  margin-top: 0.6rem;
  border-radius: 0.6rem;
}