*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --paint: #fff;
}
body {
  margin: 0;
}
#order {
  margin-top: 5rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0rem 1rem;
}
.container {
  width: min(90%, 70.5rem);
  width:100%;

}
.split {
  display: flex;
  flex-direction: column;
}
.offers ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px 0px;
  padding-right: 0.5em;
}
.offers ul > * {
  border: 1px solid black;
}
.placeorder {
  text-align: center;
  background-color: black;
  position: relative;
  padding: 0.3rem 0px;
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
}

button {
  border-radius: 5rem;
  width: 15rem;
  font-size: 1rem;
  background-color: aqua;
}
.slider {
  background-image: url('./images/ride3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh; /* You must set a specified height*/
  width: 100%;
  object-fit: contain;
  border: 1px solid black;
  color: #fff;
  text-transform: uppercase;
}
.welcome {
  background-image: linear-gradient(180deg, black, whitesmoke, whitesmoke);
  padding: 1rem 0px;
  border: 1px solid whitesmoke;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
#order {
  padding: 3rem 0;
  margin-bottom: 3rem;
}
.containerone {
  width: min(90%, 70.5rem);
}
.title {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  text-align: center;
  padding-top: 2rem;
}
.title > * {
  padding-left: 0.4rem;
}
hr {
  width: 8rem;
  padding: 0px 1rem;
  height: 0.5rem;
  border: 1px solid grey;
  border-radius: 8rem;
  background-color: #f3f3f3;
}
.testing {
  list-style: none;
  padding: 1rem 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.groupone {
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem;
}

.card {
  border: 1px solid black;
  flex: 1;
  background-color: var(--paint);
  margin: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}
.cardone {
  flex: 1;
  border: 1px solid black;
  background-color: var(--paint);
  margin: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}
.grouptwo {
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem;
}
.cardtwo {
  flex: 1;
  border: 1px solid black;
  background-color: var(--paint);
  margin: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}
.cardthree {
  flex: 1;
  border: 1px solid black;
  background-color: var(--paint);
  margin: 0.5rem 0.5rem;
  border-radius: 0.3rem;
}

.figure {
  background-image: url('./images/appearanceview2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem; /* You must set a specified height*/
  max-width: 20rem;
  object-fit: contain;
  padding: 0px 0px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.figureone {
  background-image: url('./images/ride2afrrican.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem; /* You must set a specified height*/
  max-width: 20rem;
  object-fit: contain;
  padding: 0px 0px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.figuretwo {
  background-image: url('./images/nightdrive.jfif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem; /* You must set a specified height*/
  max-width: 20rem;
  object-fit: contain;
  padding: 0px 0px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.figurethree {
  background-image: url('./images/drive.jfif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem; /* You must set a specified height*/
  max-width: 20rem;
  object-fit: contain;
  padding: 0px 0px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.alt {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2rem;
}
@media screen and (min-width: 800px) {
  .slider {
    height: 55vh;
  }
  .testing {
    display: flex;
    flex-direction: row;
  }
  .testing > * {
    flex: 1;
  }
  .containerone {
    margin-bottom: 4rem;
  }
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .title > * {
    padding-left: 3rem;
  }

  hr {
    width: 25rem;
  }
}
