*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
section {
  margin-top: 4rem;
  padding: 3rem 0;
  margin-bottom: 4rem;
}
.containerrr{
     padding: 0 1rem;

}

.splittt{
    border: 3px groove maroon;
    width:100%;
    display: flex;
flex-direction: column;
border-radius: 1rem;



}
.profile{
    display: flex;
    flex-direction:row;
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: aqua;
    font-size: 1.2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;



}
.profile>*{
    flex:1;
}
.label{flex:1;
text-align: center;}
.enclosure{
    text-align: center;
    background-color: aqua;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0rem 1rem;
}

.picture{
    background-image: url('./images/ride2afrrican.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 8rem; /* You must set a specified height*/
max-width: 8rem;
object-fit: contain;
padding: 0px 0px;
top: 0;
bottom: 0;
right: 0;
left: 0;
border-radius: 5rem;
border:1px solid red ;
}
.information{
    display: flex;
    flex-direction:row;
    background-color: #f3f3f3;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.information>*{
    flex:1;
    font-size: 1.2rem;
    padding: 0rem 0.2rem;

}
